<div class="container">
  <div class="d-flex justify-content-center mt-5">

  <form [formGroup]="formLogin">

    <div class="col-12 mb-2">
      <div class="text-center alert-danger" *ngIf="error.length > 0">
        {{ error }}
      </div>
    </div>

    <div>
      <label class="form-label">E-mail</label>
      <input class="form-control"
             formControlName="email"
             [class.is-valid]="getFormControl('email').valid"
             [class.is-invalid]="isFormControlInvalid('email')"
      >
      <div class="alert-danger" *ngIf="isFormControlInvalid('email')">
        <div *ngIf="getFormControl('email').errors?.['email']">
          Veuillez saisir un e-mail valide
        </div>
        <div *ngIf="getFormControl('email').errors?.['required']">
          Veuillez saisir un e-mail.
        </div>
      </div>
    </div>

    <div>
      <label class="form-label">Mot de passe</label>
      <input class="form-control"
             formControlName="password"
             [class.is-valid]="getFormControl('password').valid"
             [class.is-invalid]="isFormControlInvalid('password')"
             type="password"
      >
      <div class="alert-danger" *ngIf="isFormControlInvalid('password')">
        <div *ngIf="getFormControl('password').errors?.['required']">
        Veuillez saisir un mot de passe.
      </div>
      </div>
    </div>

  <button class="btn btn-dark" type="submit" (click)="onSubmit()" [disabled]="formLogin.invalid">
    Se connecter
  </button>
  </form>
<!--  <div *ngIf="error.length !== 0">-->
<!--    {{ error }}-->
<!--  </div>-->
</div>
</div>
